In [33]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [35]:
 #Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [36]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [37]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

In [44]:
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98